<div id="gameField" tabindex="1">

	<div id="goal1" class="goals horizontalGoals">
		<div id="score1" class="scores">0</div>
	</div>
	<div id="goal2" class="goals verticalGoals">
		<div id="score2" class="scores">0</div>	
	</div>
	<div id="goal3" class="goals verticalGoals">
		<div id="score3" class="scores">0</div>
	</div>
	<div id="goal4" class="goals horizontalGoals">
		<div id="score4" class="scores">0</div>
	</div>
	<!--
	<div id="testPaddle1" class="paddles verticalPaddles"></div>
	<div id="testPaddle2" class="paddles horizontalPaddles"></div>
	<div id="testBall" class="balls"></div>
	-->
	
</div>
